<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhs.backmanageb.mapper.CompanyMapper">
    <resultMap id="baseMap" type="com.zhs.backmanageb.model.bo.OrganizationHasParentBO">
        <id column="id" property="id" />
        <result property="name" column="name" />
        <association property="parent" javaType="com.zhs.backmanageb.model.bo.OrganizationHasParentBO" column="parent_id" select="listParentById"/>
    </resultMap>
    <select id="listParentById" resultMap="baseMap">
        select id,name,parent_id from company where id=#{organizationId,jdbcType=BIGINT}
    </select>
</mapper>
