<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhs.backmanageb.mapper.ExpertMapper">

    <select id="countByClassificationId" resultType="com.zhs.backmanageb.model.bo.CommonCountBO">
        select classification_id,count(1) from expert
        where classification_id is not null
        group by classification_id
    </select>
</mapper>
